@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Storytella;
  src: url(fonts/Storytella.otf);
}

.bg-image {
  background-image: url(/fundo.webp);
  background-position: bottom;
}
